parameters:

    node_binary: /home/coletaseletiva/.nvm/v0.10.31/bin/node
    node_modules_paths:
        - '%kernel.root_dir%/../node_modules'
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
