{% extends("EnfiCienciasDoAmbienteSiteBundle::base.html.twig") %}

{% block content %}

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Logado!</h4>
          <p>Você está logado, {{ app.user.username }}</p>
        </div>
      </div>

{% endblock content %} 
