{% extends("EnfiCienciasDoAmbienteSiteBundle::base.html.twig") %}

{% block content %}

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Logado!</h4>
          <p>Você está logado, {{ app.user.username }}.</p>
          <button type="button" class="btn btn-default btn-lg">
              <a href="{{ path('_manage_index') }}"><span class="glyphicon glyphicon-star"></span> Contribuir</a>
          </button>
        </div>
      </div>

{% endblock content %} 
